<?php
	session_start();
?>
<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8"/>
	
	<title>Transport Towarów</Title>
	<script src="main.js"></script>
	
	<meta name="description" content="Przewóz towarów drogą powietrzną"/>
	<meta name="keywords" content="transport, samolot, przewóz, towar"/>

	<link rel="stylesheet" href="style.css" type="text/css"/>
	<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

</head>

<body onload="onloadFunc();">

	<div id="container">
		<div id="upperContainer">
		
			<div id="logo">
				<img src="images/logo.png" alt="Logo" style="width:100%;"/>
			</div>
			
			<div id="header">
				<i>Transport towarów drogą powietrzną</i>
			</div>
			
			<div id="clock">
				12:00:00
			</div>
		</div>
		
		<div id="middleContainer">
		
			<div id="formContainer">
				Formularz wysłany pomyślnie!
			</div>
		
		</div>
		
		<div id="footer">
		Piotr Szymańki piotrszym01@wp.pl
		</div>
	
	
	</div>

</body>