body
{
	background-color:#4be0e3;
}

#container
{
	height:100%;
	width:100%;
	/*margin-left:auto;
	margin-right:auto;*/
}

#upperContainer
{
	/*width:100%;
	height:80%;*/
	display: flex;
}

#logo
{
	width:15%;
	height:15%;
	float:left;
	margin-left:2%;
	margin-right:2%;
}

#header
{
	width:55%;
	height:15%;
	margin-left:2%;
	margin-right:2%;
	margin-top:3%;
	text-align:center;
	font-size:3.9vw;
}

#clock
{
	width:15%;
	height:15%;
	text-align:right;
	font-size:3.9vw;
	margin-top:3%;
	margin-left:3%;
}

input[type="file"] 
{
	display: none;
}

label
{
	display: block;
	position: relative;
	background-color: #ffba03;
	text-align: center;
	font-size: 2.0vw;
	cursor: pointer;
}

#middleContainer
{
	background-color: #f1f509;
	margin-left: 30%;
	margin-right:30%;
}

#formContainer
{
	
	text-align: left;
	font-size: 1.5vw;
}

#documentContainer
{
	border: dashed #e4f539;
	background-color: #ffffff;
	margin-left:10%;
	margin-right:10%;
	font-size:0.7vw;
}

#docError
{
	text-align: center;
	color: #e80f05;
	font-size:0.7vw;
}


#footer
{
	height: 4%;
	text-align:center;
	font-size:0.8vw;
}

#cargoError
{
	color: #e80f05;
	font-size:0.7vw;
}

#errorTransport
{
	color: #e80f05;
	font-size:0.7vw;
}

#errorDate
{
	color: #e80f05;
	font-size:0.7vw;
}